.-profile-pic {
    height: $topbar-height * 0.6;
    width: $topbar-height * 0.6;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('/img/green_army_men.jpg');
    background-position: center;
    background-size: cover;
  }